footer .widget {
  @extend .col-md;
}

footer .navbar-brand {
  white-space: nowrap;
  font-size: 0.8rem;

  .lead {
    font-size: 1.1rem;
  }

  .fa-church {
    width: 20px;
    height: 40px;
  }
}

.webperfekt-logo {
  background-color: transparent;
  transition-duration: 800ms;
}

.webperfekt-logo:hover {
  background-color: black;
  transition-duration: 800ms;
}
