footer .widget {
  @extend .col-md;
}

.webperfekt-logo {
  background-color: transparent;
  transition-duration: 800ms;
}

.webperfekt-logo:hover {
  background-color: black;
  transition-duration: 800ms;
}
