.entry-thumbnail img {
  @extend .mb-3;
}

.pagination-bottom {
  @extend .mt-5;
}

.pagination-top {
  @extend .mt-3, .mb-2;
}

.container iframe {
  max-width: 100%;
}

article.post {
  @extend .my-4;

  header {
    overflow-wrap: break-word;
  }
}

article.post-excerpt.text-white {
  .card-title a,
  .card-body p a {
    color: #fff;
  }

  .card-body p {
    @extend .card-text;
  }

  .text-muted {
    @extend .text-light;
  }
}
